@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0;
}


:root{
    --font-roboto:"Roboto", serif;
    --font-dmsans:"DM Sans", serif;
    --font-lato:"Lato", sans-serif;
    --font-color:white;
    --font-size-1: 0.88em;
    --font-size-2:42px;
}

header{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: black;
}

header .logo{
    height: 120px;
    margin-left: 1cm;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    color: var(--font-color);
   
}

#menu{
    display: none;
    font-size: var(--font-size-2);
}

header .nav-navigation{
    font-family: var(--font-dmsans);
    font-weight: 600;
    margin-bottom: 10px;
    padding-right: 2cm;
}



header .navigation{
    margin-left: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    font-family: var(--font-dmsans);
    text-decoration: none;
    color: white;
    font-size: var(--font-size-1);
}

.navigation:hover{
    font-weight: 600;
    font-size: 18px;
}


.hero-section{
    background-image: url(./img/background_Hero_Section.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20cm;
}


.hero-child {
    padding: 5.5cm 1cm;
    font-family: var(--font-dmsans);
    font-style: italic;
    color: var(--font-color);
}



.hero-child p{
    font-weight: 0;
}

.hero-child .text-indonesia{
    font-size: 36px;
}

.hero-section img{
    height: 20cm;
    width: 100%;
}


.tentang-section{
    height: 10cm;
    margin-bottom: 8cm;
}

.tentang-section h1{
    padding: 2cm 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-lato);
}

.tentang-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--font-lato);
    padding-top: 2.5cm;
}


.pilar-section{
    height: 600px;
}

.pilar-section h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-lato);
    padding-bottom: 2cm;
}

.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    margin-left: 1cm;
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: var(--font-color);
  }

  .card:hover{
    transform: translateY(-1.4cm);
    border: 4px solid black;
    background-color: #e0e0e0;
  }

  .card p{
    text-align: center;
    font-size: 18px;
    font-family: var(--font-lato);
    padding: 1cm 20px 0 20px;
  }
.container-card2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2cm;
}
.card2{
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    margin-left: 1cm;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  .card2:hover{
    transform: translateY(-1.4cm);
    border: 4px solid black;
    background-color: #e0e0e0;
  }

  .card2 p{
    text-align: center;
    font-size: 18px;
    font-family: var(--font-lato);
    padding: 1cm 20px 0 20px;
  }



 #icon-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-2);
  }

  #darkToggle{
    color: white;
    margin-left: 20px;
  }


  .darkTheme{
    background-color: black;
    
  }

  .Tujuan-section{
    background-color: white;
    height: 500px;
  }

  .Tujuan-section h2{
    margin-bottom: 1cm;
    font-family: var(--font-lato);
    display: flex;
    justify-content: center;
    align-items: center;
  }


@keyframes transisi {
    0%{
        transform: translateX(1cm);
    }

    100%{
        transform: translateX(-2cm);
    }
}

@media (max-width:600px) {

    html,
    body{
        width: 100%;
        overflow-x: hidden;
    }

    header{
        z-index: 9999;
        position: sticky;
        top: 0;
    }

    #menu{
        display: block;
    }

    #darkToggle{
        padding-left: 38px;
        font-size: 30px;
    }

    #menu-toggle{
        transition: all .2s ease-in-out;
    }
   .nav-navigation{
        overflow: hidden;
        height: 100px;
        width: 100%;
        background-color: black;
        top:2cm;
        right: 4.3cm;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .navigation{
        padding-left: 20px;
        padding-bottom: 20px;
    }


    .tentang-section p {
        font-size: 12px;
    }

    .tentang-section h1 {
        font-size: 20px;
        text-align: center; 
        margin: 10px 0;
    }

    .tentang-child {
        text-align: center;
        margin-bottom: 20px;
    }

    .container-card,
    .container-card2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pilar-section h1 {
        font-size: 18px;
        text-align: center; 
        margin: 20px 0;
    }

    .card,
    .card2 {
        height: 100px;
        width: 100%;
        border-radius: 0px;  
        margin-bottom: 20px;
        padding: 10px;
        margin-left: -0.55cm;
    }

    .card p,
    .card2 p{
        position: relative;
        top: -1cm;
    }



    .Tujuan-section {
        position: relative;
        margin-top: 14cm; 
        padding: 10px;
    }

    .Tujuan-section h2{
        text-align: center;
    }

    #icon-card{
       position: relative;
       top: -1cm;
    }
}

